.button {
	padding: 10px 50px;

	color: #ffffff;
	font-size: 18px;

  background-color: #E73741;
	border-radius: 5px;
	transition: background-color 0.2s;

	&:hover {
		color: #ffffff;
		background-color: #EA555D;
	}
}
