.logo {
	display: block;
	width: 150px;
	height: 50px;

	background-image: url('../img/logo.svg');
	background-repeat: no-repeat;
	background-size: 150px auto;
	background-position: center;

	@include media-breakpoint-down(sm) {
		width: 120px;
		background-size: 120px auto;
	}
}
